/* whole page */
* {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/* end */
/* div class="header" and all elements nested inside css */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    padding: 1vw 10vw;
}
h1 {
    font-size: 24px;
    color: #f9faf8;
}
.menu>ul {
    display: flex;
    gap: 16px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
/* end */
/* div class="website" and all elements nested inside css*/
.website {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}
.web-sign-up {
    font-size: 18px;
    text-align: center;
    padding: 5px 20px;
    margin: 15px 0;
    border: 1px solid #f9faf8;
    border-radius: 10px;
    color:#f9faf8;
    background-color: #3882f6;
    cursor: pointer;
}
button:hover, button:active {
    font-size: 150%;
}
.web-img {
    height: 300px;
    width: 450px;
    margin: 50px;
    border: 2px solid #3882f6 ;
    border-radius: 5%;
}
/* end */
/* div class="info-section" and all elements nested inside css */
.img-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.info-main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 50px 0px;
}
.img-placehold {
    height: 200px;
    width: 200px;
    border: 2px solid #3882f6 ;
    border-radius: 5%;
}
.info-second-text {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}
/* end */
/* div class="qoute-section" and all elements nested inside css */
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px 0;
}
.quote-text {
    font-style:italic;
    font-size: 35px;
    color: #1f2937;
}
.quotee {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
/* end */
/* div class="sign-up-section and all elements nested inside css */
.sign-up-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.sign-up-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 13vh;
    width: 150vh;
    margin: 50px;
    border-radius: 10px;
    background-color: #3882f6;
}
.sign-button>ul {
    display: flex;
}
.sign-up-button {
    font-size: 18px;
    text-align: center;
    padding: 5px 20px;
    margin: 15px 0;
    border: 1px solid #f9faf8;
    border-radius: 10px;
    color:#f9faf8;
    background-color: #3882f6;
    cursor: pointer;
}
.sign-up-text {
    color: #f9faf8;
    padding: 25px;
}
/* end */
/* div class="footer" end of the website */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    font-size: 18px;
    background-color: #1f2937;
    color: #e5e7eb;
}